{{#partial "content"}}


        {{#if username }}
            <h1>Welcome {{username}}</h1>
            <a href="/ideas">View all course ideas</a>
        {{ else}}
            <form action="sign-in"method = "post">
                <input type = "text" placeholder="What's your username" name="username"/>
                <button>Sign In</button>
            </form>
        {{/if}}
    {{/partial}}

    {{> base.mustache}}





